@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans+Narrow&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  background-color: #00010d;
}

.userCreation {
  margin: auto;
  margin-top: 10vh;
  width: 30%;
  color: white;
}

.userCreation,
input[type="text"],
input[type="password"] {
  padding: 15px;
  border-radius: 10px;
  text-transform: capitalize;
  box-shadow: 2px 2px 2px black;
}


input[type="submit"], input[type="button"] {
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 10px;
  transition-duration: 0.5s;
}

input[type="submit"]:hover , input[type="button"]:hover{
  background-color: gray;
  border-radius: 25px;
  transition-duration: 0.5s;
}

.userCreation > credentials {
  margin: auto;
}

h1,
h2,
h3,
h4 {
  color: white;
  text-transform: uppercase;
}

.baner {
  h1 {
    text-align: center;
    text-shadow: 1px 1px 4px black;
    font-size: 64px;
  }
}

.element {
  display: inline-block;
  margin-left: 250px;
  margin-right: 250px;

  text-shadow: 1px 1px 4px black;
}

footer {
  background-color: #626973;
  width: 100%;
  height: 70px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

main {
  width: 70%;
  clear: both;
  margin: auto;
}

.adminpanel_glowny {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.adminpanel_glowny > button {
  padding: 20px;
  font-family: "Roboto Condensed", sans-serif;
  margin-inline: 70px;
  border-radius: 10px;
  background-color: rgb(30, 26, 56);
  overflow: hidden;
  text-decoration: none;
  border: none;
  color: white;
  font-size: x-large;
  padding-inline: 50px;
  transition-duration: 0.5s;
}

.adminpanel_glowny > button:hover {
  transition-duration: 0.5s;
  background-color: rgb(60, 52, 109);
  cursor: pointer;
  border-radius: 25px;
}

.adminpanel_glowny > h2 {
  text-align: center;
  font-style: italic;
  font-weight: 100;
  font-size: xx-large;
  margin-top: -30vh;
}

.tworzenieRozgrywekContainer {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -45%);
  color: white;
  width: 50%;
  margin: auto;
  height: 80vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Dzieli przestrzeń między sekcjami */
  align-items: flex-start; /* Wyrównanie do góry */
}

.tworzenieRozgrywekContainer > form {
  width: 100%; /* Formularz zajmuje 60% szerokości kontenera */
  display: flex;
  flex-direction: column; /* Ustaw elementy w kolumnie */
  gap: 10px; /* Odstęp między elementami w kolumnie */
}

.tworzenieRozgrywekContainer > form label {
  margin-bottom: 8px; /* Mały odstęp między labelem a inputem */
  font-size: 16px;
}

.tworzenieRozgrywekContainer > form input,
.tworzenieRozgrywekContainer > form select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.klasy {
  color: black;
  width: 30%; /* Sekcja na klasy zajmuje 30% szerokości kontenera */
  height: auto; /* Dopasowanie wysokości do zawartości */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
